RewriteEngine on
RewriteRule ^api/(get|sign-in|register);([^/]+)$ php/api.php?action=$1&matrix_params=$2 [L]
RewriteRule ^api/(set);([^/]+)/where;([^/]+)$ php/api.php?action=$1&matrix_params=$2&where=$3 [L]RewriteEngine on
RewriteRule ^api/(get|save-score|sign-in|register);([^/]+)$ php/api.php?action=$1&matrix_params=$2 [L]